<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>404 Page |TL</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      {% load staticfiles %}

<link rel="stylesheet" href="{% static 'issuestuff/css/404.css' %}">
</head>
<body>
<script async type='text/javascript' src='//cdn.fancybar.net/ac/fancybar.js?zoneid=1502&serve=C6ADVKE&placement=w3layouts' id='_fancybar_js'></script>


<div class="wrap">
	
	<h1>Company Name</h1>

	<div class="banner">
		<img src="images/banner.png" alt="" />
	</div>
</div>
	<div class="page">
		<h2>Dude,,we can't find that page!</h2>
	</div>	
</div>
</body>
</html>

