{% extends "admin_base.html" %}

{% block title %}Home{% endblock %}
{% block content %}    
	<br>
	<br>
	<br>
  <div class="container">
    <div class="page-header">
      <h1>Admin Home</h1>
    </div>	
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3>Records</h3> <br>
      <a href="/admin_site/records/all"><button class="btn btn-default">All records</button> </a><br><br>
      <a href="/admin_site/records/current"><button class="btn btn-default">People inside TL</button> </a><br><br>
      <form>
        <span>Search by username:</span>
        <input type="text" id="username">
        <input class="btn btn-default btn-sm" type="button" value="Search" 
        onclick="
          window.location.assign('/admin_site/records/search/' + document.getElementById('username').value);
        ">
      </form>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
    <h3>Issue/Return</h3> <br>
      <a href="/admin_site/issues/all"><button class="btn btn-default">All Issues</button> </a><br><br>
      <a href="/admin_site/issues/current"><button class="btn btn-default">Outstanding Issues/Return</button> </a><br><br>
      <a href="/admin_site/issues/stuff"><button class="btn btn-default">New Isuue</button> </a><br><br>
      <a href="/admin_site/stuff/add/"><button class="btn btn-default">Add Stuff/All Stuffs</button> </a><br><br>
    </div>
    

  </div>
{% endblock %}
