<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
    <script src="{% static 'issuestuff/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'issuestuff/js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static  'issuestuff/js/transition.js' %}"></script>
    <script type="text/javascript" src="{% static  'issuestuff/js/collapse.js' %}"></script>
    <link href="{% static 'issuestuff/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'issuestuff/css/normalize.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'issuestuff/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'issuestuff/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'issuestuff/js/typeahead.bundle.js' %}"></script>
    {% block includes %}{% endblock %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
    {% block style %}{% endblock %}
    </style>    
    <script type="text/javascript">
      function logout(){
          $.ajax({
          url: "https://gymkhana.iitb.ac.in/sso/account/logout/",
       
          // The name of the callback parameter, as specified by the YQL service
          jsonp: "callback",
       
          // Tell jQuery we're expecting JSONP
          dataType: "jsonp",
       
          // Work with the response
          success: function( response ) {
              console.log( "Logged out of sso." ); // server response
          }
      });
      // window.location("")
      }
    </script>


  </head>
  <body>

         <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'admin_interface' 'home' %}">Tinkerers' Lab</a>
            </div>
            <ul class="nav navbar-nav">
              <li {% if active == "home" %}class="active"{% endif %}><a href="{% url 'admin_interface' 'home' %}">Home</a></li>
              <li {% if active == "records" %}class="active"{% endif %}><a href="{% url 'admin_interface' 'records' %}">All Records</a></li>
              <li {% if active == "issuestuff" %}class="active"{% endif %}><a href="{% url 'admin_interface' 'issues' %}">All issues</a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
              <li><a onclick="logout();" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
          </div>
        </nav>

   {% block content %}{% endblock %}
    <br>
    <br>
    <br>
    <br>
    <footer class="footer navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="text-muted panel-footer text-center" >Developed by STAB webteam.</p>
      </div>
    </footer>
      <script>
      {% block script %}{% endblock %}
      </script>
  </body>

</html>