<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
    <script src="{% static 'issuestuff/js/jquery.min.js' %}"></script>
    <link href="{% static 'issuestuff/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'issuestuff/css/normalize.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'issuestuff/js/bootstrap.min.js' %}"></script>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
    {% block style %}{% endblock %}
    </style>    
    <script type="text/javascript">
      {% block script %}{% endblock %}
    </script>


  </head>
  <body>
         <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'home' %}">Tinkerers' Lab</a>
            </div>
            <ul class="nav navbar-nav">
              <li {% if active == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
              <li {% if active == "records" %}class="active"{% endif %}><a href="{% url 'records' %}">TL Records</a></li>
              <li {% if active == "issuestuff" %}class="active"{% endif %}><a href="{% url 'issuestuff' %}">TL issues</a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
              <li><a onclick="window.open('http://gymkhana.iitb.ac.in/sso/account/logout/');return true;" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
          </div>
        </nav>

   {% block content %}{% endblock %}

    <footer class="footer navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="text-muted panel-footer text-center">Developed by STAB webteam.</p>
      </div>
    </footer>

  </body>

</html>