<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
    {% block style %}{% endblock %}
    </style>    


  </head>
  <body>
         <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Tinkerers' Lab</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'records' %}">TL Records</a></li>
              <li><a href="{% url 'issuestuff' %}">TL issues</a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
          </div>
        </nav>

   {% block content %}{% endblock %}

    <footer class="footer navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="text-muted panel-footer text-center">Developed by STAB webteam.</p>
      </div>
    </footer>

  </body>

</html>